.RadioOption {
    border-radius: 5px;
    margin-bottom: 1rem;
}

.RadioOption.correct_answer {
    animation: pulse_correct 2s forwards;
}

.RadioOption.wrong_answer {
    animation: pulse_wrong 2s forwards;
}

@keyframes pulse_correct {
    100% {
        background-color: var(--step-color_correct);
        padding-right: 1rem;
    }
}

@keyframes pulse_wrong {
    100% {
        background-color: var(--step-color_wrong);
        padding-right: 1rem;
    }
}